@{
    ViewData["Title"] = "Payment Reject";
}
<div class="content">
    <h2>The payment failed</h2>
    <p>It looks like something failed when trying to take your payment.</p>
    <p>Click the button below to go back to the basket and try again.</p>
    <a asp-action="Basket" asp-controller="Basket" class="button">Basket</a>
</div>